{% assign competences = site.data.data.key_skills %}
{% if competences %}
<section class="section experiences-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-star fa-stack-1x fa-inverse"></i>
    </span>
        COMPÉTENCES CLÉS
    </h2>

    {% for competence in competences %}
    <!-- <div class="item"> -->
        
        <div class="details" style="padding-bottom: 5px;">
            <span>
            <strong>{{ competence.title }}:</strong>
            {{ competence.details }}
            </span>
        </div><!--//details-->
        

    <!-- </div>//item -->
    {% endfor %}

</section><!--//section-->
{% endif %}

<!--

{% assign tech_competences = site.data.data.tech_skills %}
{% if tech_competences %}
<section class="section experiences-section">
    <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-toolbox fa-stack-1x fa-inverse"></i>
    </span>
        COMPÉTENCES TECHNIQUES
    </h2>

    {% for tech_competence in tech_competences %}
 
        
        <div class="details" style="padding-bottom: 5px;">
            <span>
            <strong>{{ tech_competence.title }}:</strong>
            {{ tech_competence.details }}
            </span>
        </div>
        

 
    {% endfor %}

</section>
{% endif %}

-->
