{% assign technologies = site.data.data.sidebar.technologies %}
{% if technologies %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Stack technique
  </h2>

  <ul class="list-unstyled interests-list">
    {% for tech in technologies %}
      <div class="details">
        <span>{{ tech.title }}</span>
        {% for sub_tech in tech.techs %}
          {{ sub_tech }}
        {% endfor %}
      </div>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
