{% assign technologies = site.data.data.sidebar.technologies %}
{% if technologies %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Stack technique
  </h2>

  <ul class="list-unstyled interests-list">
    {% for tech in technologies %}
      <div class="details" style="padding-bottom: 10px;">
        <strong>{{ tech.title }}</strong>
        {% for sub_tech in tech.techs %}
          <p style="margin: 0px; padding: 0px; padding-left: 5px;">{{ sub_tech }}</p>
        {% endfor %}
      </div>
    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
